# RENTPLAY Django v2.0
Django>=5.1,<5.2
djangorestframework>=3.15.0
django-filter>=24.0
django-cors-headers>=4.4.0
Pillow>=10.4.0
python-dateutil>=2.9.0
python-dotenv>=1.0.0
gunicorn>=21.2.0
whitenoise>=6.6.0
dj-database-url>=2.0.0
psycopg2-binary>=2.9.0
django-storages>=1.14.0
boto3>=1.28.0
